__pycache__/
*.py[cod]
*.egg-info/
*.log
*.bak
.env
.venv/
poetry.lock
.mypy_cache/
.pytest_cache/
dist/
build/
htmlcov/
.coverage*
.ipynb_checkpoints/
.DS_Store
.idea/
.vscode/

research_data/
demo_output/
test_results/